.t2k-taskGroup-wrapper-detect-ie {
  font-family: "Armata";
}

.t2k-taskGroup-wrapper .powered-by-container {
  font-family: "Armata";
}

.t2i-add-task .t2kInt-icon-hexagon {
  color: #6D7A80;
}

.t2i-add-task .tasks-list-container .link:hover {
  background: #f5f6f7;
}

.t2k-checkbox {
  font-family: "Armata";
  font-size: 1em;
}

.t2k-checkbox > input:checked + *:before {
  box-shadow: 0 0 0 1px #6D7A80;
  background-color: #6D7A80;
}

.t2k-button {
  font-family: "Armata";
}

.t2k-button.btn-main {
  color: #6D7A80;
  background-color: #dadedf;
}

.t2k-button.floating {
  color: #FFFFFF;
}

.t2k-button.progress-btn {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
  font-size: 15px;
  font-family: "Armata";
  font-weight: Semibold;
  background-color: #78909C;
  color: #fff;
}

.t2k-button.progress-btn .t2kInt-icon-spinner {
  color: #fff;
  padding: 0 5px;
  font-size: 15px;
}

.t2k-button.progress-btn:active {
  background-color: #78909C;
  color: #fff;
}

.t2k-button.progress-btn:disabled {
  background-color: #ECEFF1;
  color: #CED8DC;
}

.t2k-button.progress-btn.submit-assessment-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.t2k-radio {
  font-family: "Armata";
  font-size: 1em;
}

.t2k-radio > input:checked + *:before {
  background-color: rgba(109, 122, 128, 0.99) !important;
  box-shadow: 0 0 0 2px #6D7A80 !important;
}

.t2k-loader-progress {
  font-family: "Armata";
  font-size: 1em;
}

.t2k-loader-progress .progress-wrapper progress[value] {
  color: #6D7A80;
}

.t2k-loader-progress .progress-wrapper progress[value]::-moz-progress-bar {
  background-color: #6D7A80;
}

.t2k-loader-progress .progress-wrapper progress[value]::-webkit-progress-bar {
  background-color: #f5f6f7;
}

.t2k-loader-progress .progress-wrapper progress[value]::-webkit-progress-value {
  background-color: #6D7A80;
}

.t2k-text-input {
  font-family: "Armata";
}

.t2k-text-input:focus:not([readonly]) {
  /*     border-bottom-color: $primary-color;
    box-shadow: 0 1px 0 0 $primary-color; */
}

.t2k-text-input.show-bottom-bold-in-focus:focus {
  border-bottom-color: #6D7A80;
  box-shadow: 0 1px 0 0 #6D7A80;
}

.text-component {
  font-family: "Armata";
}

.text-component .custom-theme.fr-box.fr-top.focus.fr-basic .fr-wrapper {
  border-bottom-color: #6D7A80;
  box-shadow: 0 1px 0 0 #6D7A80;
}

.t2k-text-area-input {
  font-family: "Armata";
}

.t2k-text-area-input:focus:not([readonly]) {
  /*     border-bottom-color: $primary-color;
    box-shadow: 0 1px 0 0 $primary-color; */
}

.t2k-text-area-input.box:focus {
  border-bottom: 1px solid #dfdfdf;
  box-shadow: none;
}

.t2k-text-area-input-pairs {
  font-family: "Armata";
}

.dialog {
  font-family: "Armata";
}

.dialog .link:hover {
  color: #6D7A80;
}

.t2k-emoji-input {
  font-family: "Armata";
}

.t2k-select {
  font-family: "Armata";
}

.t2i-modal-wrapper {
  font-family: "Armata";
}

.t2i-sortable-item.gu-transit:after {
  background-color: #6D7A80;
}

.t2i-task-group-container {
  font-family: "Armata";
}

.ttk-task-group {
  font-family: "Armata";
}

.ttk-task-group .sortable-placeholder {
  border-color: #6D7A80;
}

.ttk-task-group .task-group-submit-btn {
  background-color: #6D7A80;
  font-family: "Armata";
}

.ttk-task-group .task-group-settings {
  font-family: "Armata";
}

.ttk-task-group .task-group-settings .background-color-picker .color-option.selected-background {
  border: 3px solid #6D7A80 !important;
  box-sizing: border-box;
}

.ttk-task-group-student-score {
  font-family: "Armata";
}

.ttk-task-group-student-score-your-score-common {
  font-family: "Armata";
}

.ttk-task-group-student-score-value {
  font-family: "Armata";
}

.ttk-task-group-student-score-answered-on {
  font-family: "Armata";
}

.ttk-task-group-student-score-checkable {
  font-family: "Armata";
}

.ttk-task-group .task-group-title .t2i-taskgroup-title-text {
  font-family: "Armata";
}

.ttk-task-group .task-group-title .tooltip {
  font-family: "Armata";
}

.ttk-task-group .thank-you-page .submit-message-thank-you {
  font-family: "Armata";
}

.t2i-settings-tabs .tab-schema label {
  font-family: "Armata";
}

.t2i-settings-content-section .content-schema .schema-section.about {
  font-family: "Armata";
}

.t2i-settings .schema-select-list {
  font-family: "Armata";
}

.ttk-task {
  font-family: "Armata";
}

.ttk-task-wrapper.ttk-task-wrapper-player .progress-bar .toaster .toast-text {
  font-family: "Armata";
}

.ttk-interaction {
  font-family: "Armata";
  font-size: 1em;
}

.ttk-interaction .t2k-fill-in-gaps .gap:focus {
  border-color: #6D7A80;
}

.ttk-interaction .t2k-fill-in-gaps.page-play.drag-drop .gap.active,
.ttk-interaction .t2k-fill-in-gaps.page-play.drag-drop .gap.selected {
  border-color: #6D7A80;
}

.ttk-interaction .t2k-fill-in-gaps.page-play.drag-drop .bank-gap.selected,
.ttk-interaction .t2k-fill-in-gaps.page-play.drag-drop .bank-gap.dragging {
  border: 2px solid #6D7A80;
}

.ttk-interaction .t2k-fill-in-gaps .gaps-bank.active {
  border-color: #6D7A80;
}

.ttk-interaction .t2k-mc-component.mc-player {
  font-family: "Armata";
}

.ttk-interaction .t2i-int-mc-image .mc-option.user-answer:before {
  box-shadow: inset 0 0 0 6px #6D7A80;
}

.ttk-interaction .t2i-int-mc-shape-radio-add {
  color: #6D7A80;
}

.ttk-interaction .t2k-richmedia.question-edit .question-item-wrapper > .t2kInt-icon-delete_close {
  background-color: #6D7A80;
}

.ttk-interaction .t2k-richmedia.question-edit .question-item-wrapper.focus .child-wrapper .image-edit,
.ttk-interaction .t2k-richmedia.question-edit .question-item-wrapper.focus .child-wrapper .video-edit,
.ttk-interaction .t2k-richmedia.question-edit .question-item-wrapper.focus .child-wrapper .audio-edit {
  border-color: #6D7A80;
}

.ttk-interaction .t2k-video-component.video-edit .file-selector-wrapper li.selected {
  border-bottom-color: #6D7A80;
  color: #6D7A80;
}


/*# sourceMappingURL=ttk.theme.corporate.css.map*/