.t2k-taskGroup-wrapper {
  &-detect-ie{
    font-family: $font-family;
  }
  .powered-by-container {
    font-family: $font-family;
  }
}

.t2i-add-task {
  .t2kInt-icon-hexagon {
    color: $primary-color;
  }
  .tasks-list-container {
    .link {
      &:hover {
        background: lighten($primary-color, 50);
      }
    }
  }
}

.t2k-checkbox {
  font-family: $font-family;
  font-size: $font-size;
  &>input {
    &:checked {
      + * {
        &:before {
          box-shadow: 0 0 0 1px $primary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}

.t2k-button {
  font-family: $font-family;

  &.btn-main {
    color: $primary-color;
    background-color: lighten($primary-color, 40);
  }

  &.floating {
    color: #FFFFFF;
  }
  &.progress-btn {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
    font-size: 15px;
    font-family: $font-family;
    font-weight: Semibold;
    background-color: #78909C;
    color: #fff;
    .t2kInt-icon-spinner {
      color: #fff;
      padding: 0 5px;
      font-size: 15px;
    }
    &:active {
      background-color: #78909C;
      color: #fff;
    }
    &:disabled {
      background-color: #ECEFF1;
      color: #CED8DC;
    }
    &.submit-assessment-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.t2k-radio {
  font-family: $font-family;
  font-size: $font-size;
  &>input {
    &:checked {
      + * {
        &:before {
          background-color: rgba($primary-color, 0.99)!important; // for some reason box shadow and border become thicker when alpha is 1
          box-shadow: 0 0 0 2px $primary-color!important;
        }
      }
    }
  }
}

.t2k-loader-progress {
  font-family: $font-family;
  font-size: $font-size;

  .progress-wrapper {
    progress[value] {
      color: $primary-color;

      &::-moz-progress-bar {
        background-color: $primary-color;
      }

      &::-webkit-progress-bar {
        background-color: lighten($primary-color, 50%);
      }

      &::-webkit-progress-value {
        background-color: $primary-color;
      }
    }
  }
}
.t2k-text-input {
  font-family: $font-family;

  &:focus:not([readonly]) {
/*     border-bottom-color: $primary-color;
    box-shadow: 0 1px 0 0 $primary-color; */
  }
  &.show-bottom-bold-in-focus {
    &:focus {
      border-bottom-color: $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
  }
}

.text-component {
  font-family: $font-family;
  .custom-theme.fr-box.fr-top.focus.fr-basic .fr-wrapper {
    border-bottom-color: $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
  }
}

.t2k-text-area-input {
  font-family: $font-family;

  &:focus:not([readonly]) {
/*     border-bottom-color: $primary-color;
    box-shadow: 0 1px 0 0 $primary-color; */
  }
  &.box{
    &:focus{
      border-bottom: 1px solid #dfdfdf;
      box-shadow: none;
    }
  }
}
.t2k-text-area-input-pairs {
  font-family: $font-family;
}

.dialog {
  font-family: $font-family;
  .link {
    &:hover {
      color: $primary-color;
    }
  }
}

.t2k-emoji-input {
  font-family: $font-family;
}

.t2k-select {
  font-family: $font-family;
}

.t2i-modal-wrapper {
  font-family: $font-family;
}

.t2i-sortable-item {
  &.gu-transit{
    &:after {
      background-color: $primary-color;
    }
  }
}



.t2i-task-group-container {
  font-family: $font-family;
}
.ttk-task-group {
  font-family: $font-family;
  .sortable-placeholder {
    border-color: $primary-color;
  }
  .task-group-submit-btn {
    background-color: $primary-color;
    font-family: $font-family;
  }
  .task-group-settings {
    font-family: $font-family;
    .background-color-picker {
      .color-option.selected-background {
        border: 3px solid $primary-color !important;
        box-sizing: border-box;
      }
    }
  }
}

// font-family
.ttk-task-group {
  &-student-score {
    font-family: $font-family;

    &-your-score-common{
      font-family: $font-family;
    }
    &-value {
      font-family: $font-family;
    }
    &-answered-on {
      font-family: $font-family;
    }
    &-checkable {
      font-family: $font-family;
    }
  }
  .task-group-title {
    .t2i-taskgroup-title-text {
      font-family: $font-family;
    }
    .tooltip {
      font-family: $font-family;
    }
  }
  .thank-you-page {
    .submit-message-thank-you {
      font-family: $font-family;
    }
  }
}

.t2i-settings {
  &-tabs {
    .tab-schema {
      label {
        font-family: $font-family;
      }
    }
  }
  &-content {
    &-section {
      .content-schema {
        .schema-section{
          &.about {
            font-family: $font-family;
          }
        }
      }
    }
  }
  & .schema-select-list {
    font-family: $font-family;
  }
}

.ttk-task {
  font-family: $font-family;
}
.ttk-task-wrapper {
  &.ttk-task-wrapper-player {
    .progress-bar {
      .toaster {
        .toast-text {
          font-family: $font-family;
        }
      }
    }
  }
}

.ttk-interaction {
  .t2k-fill-in-gaps {
  .gap {
    &:focus {
      border-color: $primary-color;
    }
  }
  &.page-play {
    &.drag-drop {
      .gap {
        &.active, &.selected {
          border-color: $primary-color;
        }
      }
      .bank-gap {
        &.selected, &.dragging {
          border: 2px solid $primary-color;
        }
      }
    }
  }
  .gaps-bank {
    &.active {
      border-color: $primary-color;
    }
  }
}

.t2k-mc-component {
  &.mc-player {
    font-family: $font-family;
  }
}

.t2i-int-mc-image {
  .mc-option {
    &.user-answer {
      &:before {
        box-shadow: inset 0 0 0 6px $primary-color;
      }
    }
  }
}
.t2i-int-mc-shape-radio-add {
  color: $primary-color;
}

.t2k-richmedia {
  &.question-edit {
    .question-item-wrapper {
      > .t2kInt-icon-delete_close {
        background-color: $primary-color;
      }

      &.focus {
        .child-wrapper {
          .image-edit, .video-edit, .audio-edit {
            border-color: $primary-color;
          }
        }
      }
    }
  }
}

.t2k-video-component {
  &.video-edit {
    .file-selector-wrapper {
      li {
        &.selected {
          border-bottom-color: $primary-color;
          color: $primary-color;
        }
      }
    }
  }
}

  font-family: $font-family;
  font-size: $font-size;
}

